html {
	-webkit-font-smoothing: antialiased;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	background-color: White;
	font-family: 'Roboto', sans-serif;
}
a:hover {
	cursor: pointer;
}
/* Navigation Section */
.top-navigation {
	background-color: #fff;
	position: fixed;
	width: 100%;
	z-index: 9999;
}
.content {
	width: 970px;
	height: 70px;
	margin: 0 auto;
	padding: 0px 15px;
	box-sizing: border-box;
}
.top-navigation img {
	margin-top: 15px;
}
.top-navigation .links {
	float: right;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	color: #838994;
	letter-spacing: 0.03em;
	margin-top: 25px;
}
.top-navigation .links li {
	display: inline-block;
	margin-left: 25px;
}
.top-navigation .links a {
	text-decoration: none;
	color: #838994;
}
.top-navigation .links .active a {
	color: #4c5058;
	font-weight: 500;
}
.top-navigation .links a:hover {
	color: #333333;
	transition: color 0.5s ease;
}
/* Introduction Section */
.introduction {
	background-image: url('../images/first-background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	height: 45.938rem;
	overflow: auto;
}
.introduction .content {
	color: white;
	text-align: center;
}
h1,h3 {
	font-weight: 300;
}
h1 {
	margin-top: 17.5rem;
	font-size: 3.125rem;
}
h3 {
	margin-top: 1.25rem;
	font-size: 1.563rem;
}
button {
	text-shadow: none;
	border-style: none;
	border-radius: 4px;
	padding: 1rem 1.5rem;
	width: 9.688rem;
	background-color: #f15a29;
	color: white;
	font-size: 1.125rem;
}
button:hover {
	cursor: pointer;
	background-color: #d9400e;
	transition: background-color 0.5s ease;
}
/* Cases Section */
h2 {
	font-size: 2.75em;
	font-weight: 300;
	text-align: center;
	margin: 1.625rem 0 3.125rem;
}
h3 {
	font-size: 1.4em;
	font-weight: 400;
	text-align: center;
	margin: 1.625rem 0 3.125rem;
}
/* cases without flex
.cases .case {
	width: 33.333333%;
	display: inline-block;
	box-sizing: border-box;
	height: 4em;
	margin-right: -4px;
	border: 1px solid black;
	text-align: center;
}
*/
.case-flex {
	display:flex;
}
.case-flex .case {
	margin: auto;
	text-align: center;
}


